@import '../../../styles/colours.scss';

.bioSection {
    position: relative;
    
    p:first-of-type {
        text-indent: 2em;
    }

    p {
        max-width: 60ch;
    }
}

.emphasize {
    font-weight: 700;
    font-style: italic;
    color: $highlight
}